* {
  font-family: 'helvetica';
  color: gray;
  margin: 15px;
  padding: 15px;
  flex-shrink: 0;
}

body{
  background: linear-gradient(-45deg, #fae7d0, #CAA661, #935D37, #573719);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 0;
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  min-width: 1120px;
  background-color: white;
}

h2{
  padding-bottom: 0;
  margin-bottom: 0;
}

ul{
  list-style-type: none;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
}

li, a{
  padding: 0;
  text-decoration: none;
}

li{
  margin: 5;
}

a{
  margin: 0;
}

.section{
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  background-color: white;
  min-width: 1120px;
}

.text{
  width: 500px;
  overflow-wrap: break-word;
}

.content{
  display: flex;
  justify-content: space-evenly;
}

.quote, .content{
  margin-top: 0;
  padding-top: 0;
}

img {
  width: 400px
}

.cardgrid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card{
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 25px;
  border: 2px solid #774400;
  padding: 20px;
  width: 300px;
  margin: 16px;
}

h4{
  padding: 0;
  margin: 5px;
}