
body{
    margin: 0%;
}

img {
    width: 400px
}

div {
    text-align: left;
    font-family: 'roboto';
    margin-bottom: 0px;
    color: #EEEEEE;
    padding: 30px;
  }

.flex-container{
    display: flex;
    flex: 1;
}

.flex-item {
    flex: 1;
    flex-direction: column;
}

.head{
    background: linear-gradient(to bottom, #000000 0%, #663306 80%)
}

.first {
    background: linear-gradient(to bottom, #663306 0%, #a16324 120%);
  }

.second {
    background: linear-gradient(to bottom, #a16324 -20%, #a16324 120%);
  }

.third {
    background: linear-gradient(to bottom, #a16324 -20%, #edb277 120%);
  }

.foot {
    background: linear-gradient(to bottom, #edb277 0%, #edb277 100%);
  }